.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 0.5rem;
  color: white;
  background-image: linear-gradient(270deg, #ee424e 13.86%, #121e6c 83.33%);
  height: 5rem;
  width: 100%;
}

.logo {
  width: 10rem;
  height: 4rem;
  margin-left: 3rem;
  @media (max-width: 768px) {
    margin-left: 0;
  }
}

.profile {
  width: 50px;
  height: 50px;
}

.textContainer {
  display: flex;
  gap: 20px;
}

.text {
  font-size: 18px;
}
